<!--<p>global-header works!</p>-->
<div style="margin: 4rem 0">
  <header class="vf-content" style="margin-bottom: 3rem">
    <a routerLink="/">
      <h1 class="vf-text vf-text-heading--1" style="float: left; color: black;">
        Project Catalogue
      </h1>
    </a>
    <a
      href="https://www.ebi.ac.uk/"
      target="_blank"
      style="display: inline-block; margin: 0.4rem 0 0 2rem"
    >
      <img
        height="50"
        src="https://raw.githubusercontent.com/ebiwd/EBI-Framework/v1.4/images/logos/EMBL-EBI/EMBL_EBI_Logo_black.svg"
      />
    </a>
    <a
      href="https://www.humancellatlas.org/"
      target="_blank"
      style="display: inline-block; margin: 0.4rem 0 0 2rem"
    >
      <img
        height="50"
        src="https://contribute.data.humancellatlas.org/assets/HCA_logo_full_transparent.png"
      />
    </a>
    <!--    <div-->
    <!--      style="-->
    <!--            display: flex;-->
    <!--            width: 100%;-->
    <!--            margin-top: 4rem;-->
    <!--            flex-wrap: wrap;-->
    <!--            justify-content: space-between;-->
    <!--          "-->
    <!--    >-->
    <!--      <p-->
    <!--        class="vf-text-body vf-text-body&#45;&#45;3"-->
    <!--        style="margin-right: 2rem"-->
    <!--        style="color: #505050"-->
    <!--      >-->
    <!--        A catalogue of single cell projects eligible for the Human Cell-->
    <!--        Atlas, selected and curated by the HCA DCP wrangling teams.-->
    <!--        <a href="/humancellatlas/project-catalogue/about">Read more ></a>-->
    <!--      </p>-->
    <!--      <a-->
    <!--        class="vf-button vf-button&#45;&#45;primary vf-button&#45;&#45;outline vf-button&#45;&#45;sm"-->
    <!--        style="transform: translateY(-25%); flex-shrink: 0"-->
    <!--        href="mailto:{{FEEDBACK_EMAIL}}?subject={{ADD_PROJECT_SUBJECT}}"-->
    <!--      >-->
    <!--        Add a project-->
    <!--      </a>-->
    <!--    </div>-->
  </header>
</div>
