<div style="margin: 4rem 0">
  <header class="vf-content" style="margin-bottom: 3rem">
    <a routerLink="/">
      <h1 class="vf-text vf-text-heading--1" style="float: left; color: black">
        Project Catalogue
      </h1>
    </a>
    <a
      href="https://www.ebi.ac.uk/"
      target="_blank"
      style="display: inline-block; margin: 0.4rem 0 0 2rem"
    >
      <img
        height="50"
        src="https://raw.githubusercontent.com/ebiwd/EBI-Framework/v1.4/images/logos/EMBL-EBI/EMBL_EBI_Logo_black.svg"
      />
    </a>
    <a
      href="https://www.humancellatlas.org/"
      target="_blank"
      style="display: inline-block; margin: 0.4rem 0 0 2rem"
    >
      <img
        height="50"
        src="https://contribute.data.humancellatlas.org/assets/HCA_logo_full_transparent.png"
      />
    </a>
  </header>
</div>
