<div class="vf-form__item vf-form__item--checkbox">
  <input
    type="checkbox"
    class="vf-form__checkbox"
    [ngClass]="{ 'vf-form__checkbox--invalid': isInvalid() }"
    [disabled]="disabled"
    id="{{ name }}"
    #checkbox
    (change)="onChange()"
    (blur)="onTouched()"
  />
  <label
    for="{{ name }}"
    class="vf-form__label {{ required && 'vf-form__label--required' }}"
  >
    <ng-content></ng-content>
    <span></span>
    <span *ngIf="required" class="vf-u-sr-only">this field is required.</span>

    <span *ngIf="required" class="asterisk">*</span>

    <p *ngIf="isInvalid() && required" class="required-message invalid-message">
      This field is required
    </p>
  </label>
</div>
