.chevron {
  fill: currentcolor;
  height: .8em;
  margin-left: 6px;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  width: .8em;
}

.chevron--up {
  transform: rotate(180deg);
}
