<nav class="vf-pagination" aria-label="Pagination" *ngIf="totalPages > 1">
  <ul class="vf-pagination__list">
    <!--Previous-->
    <app-pagination-button
      [extraClasses]="'vf-pagination__item--previous-page'"
      pageNumber="Previous"
      (paginate)="changePage(currentPage - 1)"
    ></app-pagination-button>

    <ng-container *ngIf="currentPage > 2">
      <app-pagination-button
        [pageNumber]="1"
        (paginate)="changePage($event)"
      ></app-pagination-button>
      <li class="vf-pagination__item" style="flex: none">
        <span class="vf-pagination__label">...</span>
      </li>
    </ng-container>

    <ng-container *ngIf="currentPage === 1">
      <ng-container *ngFor="let i of [1,2,3]">
        <app-pagination-button
          *ngIf="i >= 1 && i <= totalPages"
          [pageNumber]="i"
          (paginate)="changePage(i)"
          [isCurrent]="i===currentPage"
        ></app-pagination-button>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="currentPage === totalPages">
      <ng-container *ngFor="let i of [totalPages - 2, totalPages - 1, totalPages]">
        <app-pagination-button
          *ngIf="i >= 1 && i <= totalPages"
          [pageNumber]="i"
          (paginate)="changePage(i)"
          [isCurrent]="i===currentPage"
        ></app-pagination-button>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="currentPage > 1 && currentPage < totalPages">
      <ng-container *ngFor="let i of [currentPage - 1, currentPage, currentPage + 1]">
        <app-pagination-button
          *ngIf="i >= 1 && i <= totalPages"
          [pageNumber]="i"
          (paginate)="changePage(i)"
          [isCurrent]="i===currentPage"
        ></app-pagination-button>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="totalPages > 3 && currentPage < totalPages - 1">
      <li class="vf-pagination__item" style="flex: none;">
        <span class="vf-pagination__label">...</span>
      </li>
      <app-pagination-button
        [pageNumber]="totalPages"
        (paginate)="changePage($event)"
        [isCurrent]="currentPage === totalPages"
      ></app-pagination-button>
    </ng-container>

    <!--Next-->
    <app-pagination-button
      [extraClasses]="'vf-pagination__item--next-page'"
      pageNumber="Next"
      (paginate)="changePage(currentPage + 1)"
    ></app-pagination-button>
  </ul>
</nav>
