<h1 class="vf-intro__heading">Projects Summary Statistics</h1>
<div class="vf-grid vf-grid__col-6">

  <div class="vf-grid__col--span-2" *ngIf="projects$ | async as projects">
    <app-mini-card title="Projects" value="{{projects.length}}"></app-mini-card>
  </div>
  <div class="vf-grid__col--span-2" *ngIf="projects$ | async as projects">
    <app-mini-card title="Cell Count" value="2.5M"></app-mini-card>
  </div>
  <div class="vf-grid__col--span-2" *ngIf="projects$ | async as projects">
    <app-mini-card title="Cell Count" value="2.5M"></app-mini-card>
  </div>

  <div class="vf-grid__col--span-3" *ngIf="projects$ | async as projects">
    <app-chart [list]="projects" key="organs"></app-chart>
  </div>
  <div class="vf-grid__col--span-3" *ngIf="projects$ | async as projects">
    <app-chart [list]="projects" key="technologies"></app-chart>
  </div>

</div>
