<section class="vf-intro" id="javascript">

  <div><!-- empty --></div>

  <div class="vf-stack">

    <h1 class="vf-intro__heading ">Error: JavaScript failure</h1>
    <p class="vf-lede">JavaScript is required for this webpage or site.</p>


    <p class="vf-intro__text">It seems you either have JavaScript turned off, there was a network failure, or you have a legacy browser.</p><p class="vf-intro__text">A refresh of the page will hopefully fix the issue, or you might check if <a href="https://enable-javascript.com">JavaScript is enabled on your browser</a>. You can also <a href="#">contact web support for this site</a>.</p>
  </div>
</section>
