<div
  style="
    display: flex;
    width: 100%;
    margin-top: 4rem;
    flex-wrap: wrap;
    justify-content: space-between;
  "
>
  <p
    class="vf-text-body vf-text-body--3"
    style="margin-right: 2rem"
    style="color: #505050"
  >
    A catalogue of single cell projects eligible for the Human Cell Atlas,
    selected and curated by the HCA DCP wrangling teams.
    <a routerLink="/about">Read more ></a>
  </p>
  <a
    class="vf-button vf-button--primary vf-button--outline vf-button--sm"
    style="transform: translateY(-25%); flex-shrink: 0"
    href="mailto:{{
      wranglerEmail
    }}?subject=Add a project to the HCA Project Catalogue"
  >
    Add a project
  </a>
</div>

<app-filters
  [organs]="organs"
  [technologies]="technologies"
  (selectedTechnology)="filterByTechnology($event)"
  (selectedDataLocation)="filterByLocation($event)"
  (selectedOrgan)="filterByOrgan($event)"
  (valueSearched)="search($event)"
></app-filters>

<svg class="vf-icon-sprite vf-icon-sprite--tables" display="none">
  <defs>
    <g id="vf-table-sortable">
      <path
        xmlns="http://www.w3.org/2000/svg"
        width="12"
        height="18"
        d="M6 0l6 8H0zM6 18l6-8H0z"
        fill-rule="evenodd"
      />
    </g>
  </defs>
</svg>

<ng-container *ngIf="projects; else loading">
  <p class="vf-text-body vf-text-body--3">
    Showing <strong>{{ projects.length }}</strong> out of
    <strong>{{ totalProjects }}</strong> projects
  </p>

  <table
    class="vf-table vf-table--sortable vf-table--striped"
    id="published-table"
  >
    <thead class="vf-table__header">
      <tr class="vf-table__row">
        <th class="vf-table__heading" scope="col">
          <button
            (click)="toggleDateSort()"
            class="vf-button vf-button--sm vf-button--icon"
          >
            <span>Date added</span>
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              version="1.1"
              preserveAspectRatio="xMinYMin"
            >
              <use xlink:href="#vf-table-sortable"></use>
            </svg>
          </button>
        </th>
        <th class="vf-table__heading" scope="col">Project</th>
        <th class="vf-table__heading" scope="col">Organ</th>
        <th class="vf-table__heading" scope="col">Technology</th>
        <th class="vf-table__heading" scope="col">Cell count</th>
        <th class="vf-table__heading" scope="col">Data location</th>
      </tr>
    </thead>

    <tbody class="vf-table__body" *ngIf="projects">
      <tr
        class="vf-table__row"
        *ngFor="let project of projects"
        key="{project.uuid}"
      >
        <td class="vf-table__cell">{{ project.date }}</td>
        <td class="vf-table__cell">
          <p style="margin-top: 0">{{ project.title }}</p>
          <app-author-names *ngIf="project.authors.length" [authors]="project.authors"></app-author-names>
          <span *ngIf="!project.publications.length">
            pre-publication or citation missing
          </span>
          <ng-container
            *ngFor="let publication of project.publications"
          >
            <a class="vf-link" style="white-space: nowrap;" href="{{ publication.url }}" target="_blank">
              {{publication.journalTitle}}
              <ng-container *ngIf="publication.journalTitle === 'bioRxiv'">(pre-publication)</ng-container>
              <svg _ngcontent-yjp-c145="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5" style="width: 1rem; height: 1rem;"><path _ngcontent-yjp-c145="" d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"></path><path _ngcontent-yjp-c145="" d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path></svg>
            </a>
          </ng-container>
        </td>
        <td class="vf-table__cell">
          <ul class="comma-list">
            <li *ngFor="let organ of project.organs">{{ organ }}</li>
          </ul>
          <p *ngIf="!project.organs.length">-</p>
        </td>

        <td class="vf-table__cell">
          <ul class="comma-list">
            <li *ngFor="let technology of project.technologies">{{ technology }}</li>
            <p *ngIf="!project.technologies.length">-</p>
          </ul>
        </td>

        <td class="vf-table__cell">
          <p>{{project.cellCount ? (project.cellCount | number) : '-' }}</p>
        </td>

        <td class="vf-table__cell">
          <ul class="plain-list">
            <li *ngIf="project.enaAccessions.length">
              ENA:
              <ul class="comma-list">
                <li *ngFor="let enaAccession of project.enaAccessions">
                  <a
                    class="vf-link"
                    href="https://identifiers.org/ena.embl:{{ enaAccession }}"
                    target="_blank"
                    >{{ enaAccession }}</a
                  >
                </li>
              </ul>
            </li>
            <li *ngIf="project.arrayExpressAccessions.length">
              Arrayexpress:
              <ul class="comma-list">
                <li
                  *ngFor="
                    let arrayExpressAccession of project.arrayExpressAccessions
                  "
                >
                  <a
                    class="vf-link"
                    href="https://identifiers.org/arrayexpress:{{
                      arrayExpressAccession
                    }}"
                    target="_blank"
                    >{{ arrayExpressAccession }}</a
                  >
                </li>
              </ul>
            </li>
            <li *ngIf="project.geoAccessions.length">
              GEO:
              <ul class="comma-list">
                <li *ngFor="let geoAccession of project.geoAccessions">
                  <a
                    class="vf-link"
                    href="https://identifiers.org/geo:{{ geoAccession }}"
                    target="_blank"
                    >{{ geoAccession }}</a
                  >
                </li>
              </ul>
            </li>
            <li *ngIf="project.egaStudiesAccessions?.length">
              EGA:
              <ul class="comma-list">
                <li *ngFor="let accession of project.egaStudiesAccessions">
                  <a
                    class="vf-link"
                    href="https://ega-archive.org/studies/{{ accession }}"
                    target="_blank"
                    >{{ accession }}</a
                  >
                </li>
                <li *ngFor="let accession of project.egaDatasetsAccessions">
                  <a
                    class="vf-link"
                    href="https://ega-archive.org/datasets/{{ accession }}"
                    target="_blank"
                    >{{ accession }}</a
                  >
                </li>
              </ul>
            </li>
            <li *ngIf="project.dcpUrl">
              <a class="vf-link" href="{{ project.dcpUrl }}" target="_blank"
                >HCA Data Portal</a
              >
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
<ng-template #loading>
  <p>Loading...</p>
</ng-template>
<p>
  Have feedback or want to suggest a project for the HCA Project Catalogue?
  <a
    class="vf-link"
    href="mailto:{{
      wranglerEmail
    }}?subject=Feedback about the HCA Project Catalogue"
    target="_blank"
    >Email the data wrangling team</a
  >.
</p>
