<div class="vf-stack">

  <h1 class="vf-intro__heading ">Error: 500</h1>
  <p class="vf-lede">There was a technical error.</p>


  <p class="vf-intro__text">Something has gone wrong with our web server when attempting to make this page.</p><p class="vf-intro__text">This problem means that the service you are trying to access is currently unavailable. Please try again later.</p>
</div>

<section class="embl-grid">
  <div></div>
  <div class="vf-content">
    <h3>Need assistance?</h3>
    <a class="vf-button vf-button--primary" href="https://www-db.embl.de/EMBLPersonGroup-PersonPicture/MailForm/?recipient=websupport">Contact web support</a>
  </div>
</section>
