<main *ngIf="isAboutPage()" id="root" class="vf-body | vf-stack vf-stack--400">
  <nav class="vf-breadcrumbs" aria-label="Breadcrumb">
    <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
      <li class="vf-breadcrumbs__item"><a routerLink="/" class="vf-breadcrumbs__link">HCA Project Catalogue </a></li>
      <li class="vf-breadcrumbs__item"><a routerLink="/about" class="vf-breadcrumbs__link">About</a></li>
    </ul>
  </nav>
</main>

<app-global-header></app-global-header>
<app-feedback></app-feedback>
<router-outlet></router-outlet>
