<!--todo: make this work with header images in assets-->
<!--https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/935ede21-ca3a-43c3-a3db-a04cf2cca34c-->
<!--https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/18ba548c-e50c-48aa-828a-efd74bbd739c-->
<section class="vf-hero | vf-u-fullbleed" style="--vf-hero--bg-image: url('https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/935ede21-ca3a-43c3-a3db-a04cf2cca34c');
  background-color: #3355aa">
  <div class="vf-hero__content | vf-box | vf-stack vf-stack--400">
    <h2 class="vf-hero__heading"><a class="vf-hero__heading_link" routerLink="/">Human Cell Atlas Project Catalogue</a></h2>
    <p class="vf-hero__subheading">A comprehensive list of cellular resolution datasets, selected and curated by the HCA DCP data wrangling team</p>
    <a class="vf-hero__link" routerLink="/about">About the catalogue</a>
  </div>
</section>
