<section class="vf-hero vf-hero--800 | vf-u-fullbleed vf-hero-hca" style="background-color: #3355aa">
  <div class="vf-hero__content | vf-box | vf-stack vf-stack--400">
    <h2 class="vf-hero__heading"><a class="vf-hero__heading_link" routerLink="/">Human Cell Atlas Project Catalogue</a></h2>
    <p class="vf-hero__subheading">
      A comprehensive list of cellular resolution datasets, selected and curated by the HCA DCP data wrangling team.
      <a class="vf-hero__link" routerLink="/about">About the catalogue</a>
    </p>
  </div>
</section>
